<main class="container">
  <div class="page-header px-3 py-3 mx-auto text-center">
    <h1 class="display-4">Angular Bootcamp Jan-2021</h1>

    <p class="lead">
      In this Angular Bootcamp January 2021, we are going to learn how to make professional web application development. We will start from the beginning level, but we will take our level at any enterprise level software development knowledge.
    </p>
  </div>

  <div class="card-deck">
    <div class="card shadow-sm mb-4">
      <app-card></app-card>
    </div>

    <div class="card shadow-sm mb-4">
      <app-card></app-card>
    </div>

    <div class="card shadow-sm mb-4">
      <app-card></app-card>
    </div>


    <div class="card shadow-sm mb-4">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">HTML/CSS</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title">1 <small class="text-muted">/Week</small></h1>
        <p>There are some text in paragraph. Some more text will be here. </p>
      </div>
    </div>

    <div class="card shadow-sm mb-4">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">HTML/CSS</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title">1 <small class="text-muted">/Week</small></h1>
        <p>There are some text in paragraph. Some more text will be here. </p>
      </div>
    </div>

  </div>

</main>
