<h2 class="text-center">District List of Bangladesh</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Division</th>
    <th scope="col">Established</th>
    <th scope="col">Population</th>
    <th scope="col">Area</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dis of districtList; let i=index">
    <th scope="row">{{ i + 1}}</th>
    <td>{{dis.name}}</td>
    <td>{{dis.division}}</td>
    <td>{{dis.established}}</td>
    <td>{{dis.population}}</td>
    <td>{{dis.areaSqKm}}</td>
  </tr>

  </tbody>
</table>
